In [1]:
import pandas as pd
import re
from Bio import SeqIO
import numpy as np

In [60]:
hcov= 'NL63' #choose name

df=pd.DataFrame()
with open('genomic_analyses//SEQ//MSA//final_seq_'+str(hcov)+'_aligned.fasta') as file:
    for seq_rec in SeqIO.parse(file, 'fasta'):
        seq_id= seq_rec.description
        if seq_id:
            record= {'id': seq_id, 'seq': str(seq_rec.seq.lower())}
            df=df.append(record, ignore_index=True)
print(len(df), df)

94                                                    id  \
0                                         NC_005831.2
1   OK662398.1|Humancoronavirus229EstrainTKU-2021B...
2   KF293664.1|Humancoronavirus229Eclonep0,partial...
3   KF293665.1|Humancoronavirus229Eclonemock-p11,p...
4   KF293666.1|Humancoronavirus229EcloneK22-p11,pa...
..                                                ...
89  KY862053.1|HumancoronavirusNL63isolateNL63/FRA...
90  KY862054.1|HumancoronavirusNL63isolateNL63/FRA...
91  KX179494.1|HumancoronavirusNL63strainNL63/Hait...
92  KX179495.1|HumancoronavirusNL63strainNL63/Hait...
93  KX179496.1|HumancoronavirusNL63strainNL63/Hait...

                                                  seq
0   atgaaacttttcttgattttgcttgttttgcccctggcctcttgct...
1   ataaaatgttt----gttttgcttgtt-------------------...
2   ataaaatgttt----gttttgcttgtt-------------------...
3   ataaaatgttt----gttttgcttgtt-------------------...
4   ataaaatgttt----gttttgcttgtt-------------------...
..                                                ...
89  atgaaacttttcttgattttgcttgttttgcccttggcctcttgct...
90  atgaaacttttcttgattttgcttgttttgcccttggcctcttgct...
91  atgaaacttttcttgattttgcttgttttgcccctggcctcttgct...
92  atgaaacttttcttgattttgcttgttttgcccctggcctcttgct...
93  atgaaacttttcttgattttgcttgttttgcccctggcctcttgct...

[94 rows x 2 columns]

In [126]:
# print(list(df['id']))

In [61]:
listresult=[]
#look in id for the year of collection
for i, row in df.iterrows():
    resultre=re.search(r'(?<=\|)((20[0-9]{2})|(19[0-9]{2}))', row['id'])
    if resultre:
        result=resultre.group()
    else:
        result=np.nan


    
    listresult.append(result)
        
df['year']=listresult
print(len(df))
df=df[df['year'].notnull()]
print(len(df))

94
90

In [62]:
df1=pd.DataFrame()
# for each unique year, sample 10 sequences randomly to eventually make the tree with
for year in df.year.unique():
    count=len(df[df.year == year])
    print(year, count)
    if count < 15:
        # print(df[df.year == year].sample(n=count,replace=False))
        dfnew=df[df.year == year].sample(n=count,replace=False)

    else:
        # print(df[df.year == year].sample(n=10,replace=False))
        dfnew=df[df.year == year].sample(n=15,replace=False)
    df1=df1.append(dfnew, ignore_index=True)

2021 1
2017 11
2016 12
2015 8
2013 3
2018 3
2020 4
2019 1
1993 3
2009 5
2008 15
2004 5
2010 4
2007 7
2014 2
2012 2
2011 2
2005 2

In [63]:
df1['id']=df1['id'].str.replace(' ', '')
df1

,id,seq,year
0,OK662398.1|Humancoronavirus229EstrainTKU-2021B...,ataaaatgttt----gttttgcttgtt-------------------...,2021
1,MW587037.1|Humancoronavirus229EisolateS0970XLQ...,ataaaatgttt----gttttacttgtt-------------------...,2017
2,MW532104.1|Humancoronavirus229Estrain229E/Chin...,ataaaatgttt----gttttacttgtt-------------------...,2017
3,MW532105.1|Humancoronavirus229Estrain229E/Chin...,ataaaatgttt----gttttacttgtt-------------------...,2017
4,MT438697.1|Humancoronavirus229EisolateHCoV-229...,ataaaatgttt----gttttacttgtt-------------------...,2017
...,...,...,...
85,KY862042.1|HumancoronavirusNL63isolateNL63/FRA...,atgaaacttttcttgattttgcttgttttgcccttggcctcttgct...,2012
86,KY862044.1|HumancoronavirusNL63isolateNL63/FRA...,atgaaacttttcttgattttgcttattttgcccctggtttcttgct...,2011
87,KY862043.1|HumancoronavirusNL63isolateNL63/FRA...,atgaaacttttcttgattttgcttgttttgcccctggcctcttgct...,2011
88,KY862051.1|HumancoronavirusNL63isolateNL63/FRA...,atgaaacttttcttgattttgcttattttgcccctggtttcttgct...,2005
89,KY862052.1|HumancoronavirusNL63isolateNL63/FRA...,atgaaacttttcttgattttgcttgttttgcccctggcctcttgct...,2005

In [64]:
def dataframetofasta(dataframe, fastaname):
        #create fasta file
        file= fastaname + ".fasta"
        f= open(file, 'a')
        #write to the file
        for i, row in dataframe.iterrows():
            lines='>'+ row['id']+'\n'+ row['seq'] + "\n"
            f.write(lines)
        f.close()


#change name of the file with every run
dataframetofasta(df1, 'genomic_analyses//SEQ//MSA//'+str('final_seq_downsampled_'+str(hcov)+ '_MSA'))